.App .Weather {
  border: 2px;
  border-radius: 6px;
  border-color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.App footer.Footer {
  font-size: 12px;
  margin: 15px;
}
